.App {
  background-color: black;
}

.form-control {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1d1d1d;
  padding: 1px 0;
}

input {
  width: 100%;
  padding: 12px;
  background-color: black;
  border: none;
  color: #666;
}

.search-button {
  padding: 0 24px;
}

@keyframes fade {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

